In [15]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
import grannules

In [17]:
p = grannules.NNPredictor.from_pickle("nn.pkl")

In [18]:
p = grannules.NNPredictor.get_default_predictor()

transform_dict = {'X_scale': Array([0.3143503 , 0.19897008, 0.05746365, 0.35999998, 1.6487503 ,
       1.        ], dtype=float32), 'X_center': Array([ 0.2546422,  2.3869262,  8.491055 , -0.1      , 12.77     ,
        2.       ], dtype=float32), 'y_scale': Array([1.1468716 , 1.0460844 , 0.36906528, 0.30403006], dtype=float32), 'y_center': Array([10.117321 ,  9.5391865,  9.116243 ,  1.1014184], dtype=float32)}

In [19]:
import pandas as pd
X = pd.DataFrame({
        "M": [0.8],
        "R": [2],
        "Teff": [4500],
        "KepMag": [12],
        "FeH": [-1.5],
        "phase" : [0]
})
X

     M  R  Teff  KepMag  FeH  phase
0  0.8  2  4500      12 -1.5      0

In [22]:
r = p.predict(X, True)
r

              H            P          tau     alpha
0  17045.197266  9910.860352  9034.101562  2.122253